.contenedor-proyecto{
    display: flex;
    flex-direction: row;
}

 .imagen-proyecto {
    width: 50%;
}

.descripcion-proyecto {
    padding: 0.25rem;
    width: 50%;
}

.btn {
    color: var(--tial-fuerte);
}

@media only screen and (max-width: 768px){
    .contenedor-proyecto{
        flex-direction: column;
    }

    .imagen-proyecto, .descripcion-proyecto{
        width: 100%;
    }
}