<h1>Habilidades técnicas</h1>
<div class="contenedor">
    
    <div class="elemento">
        <ul class="ul-d"><b>Tecnologias de Java</b>
            <li>Java 2</li>
            <li>JSP</li>
            <li>Servlet</li>
        </ul>
    </div>
    <div class="elemento">
        <ul class="ul-d"><b>Tecnologias web</b>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Web Responsive</li>
        </ul>
    </div>
    <div class="elemento">
        <ul class="ul-d"><b>Frameworks</b>
            <li>Angular 2+</li>
            <li>Bootstrap</li>
            <li>Angular Material</li>
        </ul>
    </div>
    <div class="elemento">
        <ul class="ul-d"><b>Bases de datos</b>
            <li>SQL</li>
            <li>Mysql</li>
            <li>PL/SQL</li>
        </ul>
    </div>
    <div class="elemento">
        <ul class="ul-d"><b>Conocimientos adicionales</b>
            <li>Patron MVC</li>
            <li>Programación orientada a objetos</li>
            <li>Control de versiones con Git y Github</li>
        </ul>
    </div>
</div>