<h1>{{ 'TECHNICAL_SKILLS.TECH' | translate }}</h1>
<div class="contenedor">
    
    <div class="elemento">
        <ul class="ul-d"><b>{{ 'TECHNICAL_SKILLS.JAVA_TECHNOLOGIES' | translate }}</b>
            <li>Java 2</li>
            <li>JSP</li>
            <li>Servlet</li>
        </ul>
    </div>
    <div class="elemento">
        <ul class="ul-d"><b>{{ 'TECHNICAL_SKILLS.WEB_TECNOLOGIES' | translate }}</b>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Web Responsive</li>
        </ul>
    </div>
    <div class="elemento">
        <ul class="ul-d"><b>Frameworks</b>
            <li>Angular 2+</li>
            <li>Bootstrap</li>
            <li>Angular Material</li>
        </ul>
    </div>
    <div class="elemento">
        <ul class="ul-d"><b>{{ 'TECHNICAL_SKILLS.DATABASE' | translate }}</b>
            <li>SQL</li>
            <li>Mysql</li>
            <li>PL/SQL</li>
        </ul>
    </div>
    <div class="elemento">
        <ul class="ul-d"><b>{{ 'TECHNICAL_SKILLS.ADDITIONAL_KNOWLEDGE' | translate }}</b>
            <li>{{ 'TECHNICAL_SKILLS.MVC' | translate }}</li>
            <li>{{ 'TECHNICAL_SKILLS.OOP' | translate }}</li>
            <li>{{ 'TECHNICAL_SKILLS.GIT' | translate }}</li>
        </ul>
    </div>
</div>