.contenedor{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: var(--tial-claro);
}

.caja{ padding: 1rem 0; }

.navegacion, .presentacion, .formulario, .pie-pagina{ 
    grid-column-start: 1;
    grid-column-end: 3;
}

.menu{ 
    grid-row-start: 3;
    grid-row-end: 5;
}

.contenedor-menu{
    position: sticky;
    top: 1rem;
}

.contenedor-flex{
    display: flex;
    padding: 0 0.5rem;
    flex-direction: row;
    justify-content: space-between;
}

.boton {
    border: none;
    padding: 0.9rem 1.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.boton-navegacion, ul.lista-menu, .contenido-enlaces a, select, .contenedor-principal, .contenedor-proyectos{
    background-color: white;
}

.contenedor-presentacion{
    position: relative;
    text-align: center;
}

.img-presentacion {
    width: 100vh;
    height: 30rem;
    display: grid;
	place-items: center;
	place-content: center;
}

.contenedor-presentacion{
    width: 100%;
    height: 30rem;
    background-image: url('/assets/fondo.png');
    display: grid;
	place-items: center;
	place-content: center;
    background: linear-gradient(135deg, var(--gradiente-1), var(--gradiente-2)), url('/assets/fondo.png') no-repeat center center / cover;
}

.contenedor-presentacion > .titulo {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    font-weight: 300;
}

#desarrollo-web{ font-size: 3rem; }

ul{ list-style-type: none; }

ul.lista-menu{
    list-style-type: none;
    width: 100%;
}

li.elemento-menu a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

li.elemento-menu a.activo, .activo { color: var(--tial-fuerte); }

li.elemento-menu a:hover:not(.activo){
    background-color: #c9c9c9;
}

.pie-pagina{ text-align: center; }

.contenido, .menu, .proyectos {
    padding: 0 1rem;
}

.contenedor-principal, .contenedor-proyectos{
    padding: 1rem;
}

.contenedor-menu, .contenedor-principal, .contenedor-proyectos{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-foto-perfil{
    border-radius: 50%;
    width: var(--img-tamaño);
    height: var(--img-tamaño);
    display: block;
    margin: 0 auto;
}

li.elemento-menu a, .dropdown-content a, .enlace-github, li.elemento-menu a:hover:not(.activo), .boton-navegacion {
    color: #000;
}

a.linkedin:link, a.linkedin:visited{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.9rem 2.1rem;
    text-align: center;
    text-decoration: none;
}

a.linkedin:hover, a.linkedin:active{
    background-color: rgba(255, 255, 255, 0.7);
}

.contenedor-pie-pagina{ margin: 2rem 0 0.5rem 0;}

.contenido-enlaces {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenido-enlaces a{
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 2rem;
}

.enlace-linkedin{ color: rgb(0, 119, 181); }

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn { background-color: #3e8e41;  }

  #boton-inicio, #boton-proyecto{
      display: none;
  }

  .seleccionar-idioma, option{
      padding: 0.4rem 0.7rem;
  }

  .lenguaje{
    overflow: hidden;
    position:relative;
  }

  select {
    border: none;
 }
 select:focus{ outline: none;}
    
 .lenguaje::after{
    content:"\025be";
	display:table-cell;
	text-align:center;
	background-color:#d9d9d9;
	position:absolute;
	pointer-events: none;
 }

  @media only screen and (max-width: 768px){
    .navegacion, .presentacion, .formulario, .pie-pagina, .contenido, .proyectos{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .menu{ display: none; }

    .img-presentacion { height: 20rem; }
  }