<div class="contenedor">
  <div class="caja navegacion">
    <div class="contenedor-flex">
      <div class="subcontenedor-flex">Logo</div>
      <div class="subcontenedor-flex">
        <button class="boton boton-navegacion">Inicio</button>
        <button class="boton boton-navegacion">Proyectos</button>
        <button class="boton boton-navegacion">Idioma</button>
      </div>
    </div>
  </div>
  <div class="caja presentacion">
    <div class="contenedor-presentacion">
      <div class="efecto-parallax"></div>
      <img class="img-presentacion" src="../assets/img-presentacion.jpg">
      <h1 class="titulo">Ramiro De La Cruz Navarro<br>Desarrollador Web</h1>
    </div>
  </div>
  <div class="caja menu">menu</div>
  <div class="caja contenido">contenido</div>
  
  <div class="caja proyectos">proyectos</div>
  <div class="caja formulario">formulario</div>
  <div class="caja pie-pagina">pie-pagina</div>
</div>